.language-switcher-wrapper {
  flex: 0 0 44px;
  width: 44px;
}

.language-switcher .q-field__control {
  padding: 0;
}

.language-switcher .q-field__native {
  font-weight: 700;
}

.language-switcher-menu {
  min-width: 132px;
}

.language-switcher-menu .q-item {
  color: #000;
}
